*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: larger;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

/* Header / Footer */

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 2rem;
    color: white;
    background: rgba(10, 42, 223, 0.8);
    text-shadow: -2px -2px 0 #000;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 2rem;
    color: white;
    background: rgba(10, 42, 223, 0.8);
    font-size: medium;
    gap: 1rem;
}

/* relating to nav in header (will need to use an #id if I use a nav elsewhere) */

#headerNavDiv{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    gap: 2rem;
}

nav{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: large;
}

nav a{
    /* flex-wrap: wrap; */
    color: white;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

nav a:active{
    color: red;
}

/* Logo */

#logoText{
    font-size: 6rem;
    position: relative;
    top: -200px;
    left: 100px;
    color: aquamarine;
    text-shadow: -6px -6px 0 #000, 6px 6px 0 #000, 6px -6px 0 #000, -6px 6px 0 #000;
}

/* Sections */

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    gap:10rem;
}

#home{
    background-color: black;
    flex-direction: row;
}

#space{
        background: linear-gradient(to bottom, black, rgb(3, 74, 74));
    flex-direction: row-reverse;
}

#aviation{
    background: linear-gradient(to bottom, rgb(3, 74, 74), aqua);
    flex-direction: row;
}

#maritime{
    background-color: aqua;
    flex-direction: row-reverse;
}

#automotive{
    background-color: aqua;
    flex-direction: row;
}

#about{
    background: linear-gradient(to bottom, aqua, black);
    flex-direction: row-reverse;
}

/* Post-meta */

.post-meta{
    display: block;
    background-color: white;
    padding: 3rem;
}

.post-meta_btn{
    margin-top: 1.2rem;
    display: inline-block;
    max-width: 200px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #fff;
    border: 2px solid white;
    padding: 1rem 2rem;
    text-decoration: none;
    background-color: rgb(20, 54, 82);
}