*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{

}

/* Header */

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 40px;
    color: white;
    background: rgba(10, 42, 223, 0.8);
}

/* relating to nav in header (will need to use an #id if I use a nav elsewhere) */

#headerNavDiv{
    display: flex;
    flex-direction: row;
}

nav a{
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

nav a:active{
    color: red;
}

/* Sections */

section{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height: 1000px;
}

#home{
    background-color: black;
    flex-direction: row;
}

#space{
        background: linear-gradient(to bottom, black, rgb(3, 74, 74));
    flex-direction: row-reverse;
}

#aviation{
    background: linear-gradient(to bottom, rgb(3, 74, 74), aqua);
    flex-direction: row;
}

#maritime{
    background-color: aqua;
    flex-direction: row-reverse;
}

#automotive{
    background-color: aqua;
    flex-direction: row;
}

#about{
    background: linear-gradient(to bottom, aqua, black);
    flex-direction: row-reverse;
}

/* Signs */

.Lsign{
    display:inline;
    width: 400px;
    text-align: center;
}

    .signInset{
        display: inline;
        width: 400px;
        text-align: center;
        /* background-color: white; */
    }

    .signInset2{
        display: block;
        width: 400px;
        height: 200px;
        text-align: center;
        background-color: white;
    }

/* .Lsign{
    position: relative;
    top: 50%;
    width: 300px;
    border: 0px;
    margin: 0px;
    padding: 40px;
    color: white;
    background: rgba(10, 42, 223, 0.8);
}

.Lanswer{
    position: relative;
    top: 50%;
    width: 300px;
    border: 0px;
    margin: 0px;
    padding: 40px;
    color: white;
    background: rgba(10, 42, 223, 0.8);
}

.Rsign{
    position: relative;
    top: 50%;
    width: 300px;
    border: 0px;
    margin: 0px;
    padding: 40px;
    color: white;
    background: rgba(10, 42, 223, 0.8);
}

.Ranswer{
    position: relative;
    top: 50%;
    width: 300px;
    border: 0px;
    margin: 0px;
    padding: 40px;
    color: white;
    background: rgba(10, 42, 223, 0.8);
} */

/* .Lsign{
    width: 300px;
    justify-content:left;
    flex-direction: row;
} */

/* .Rsign{
    display: flex;
}

.Lanswer{
    display: flex;
}

.Ranswer{
    display: flex;
} */

